@{
    ViewData["Title"] = "About us";
}

<h2>@ViewData["Title"]</h2>



<p>Welcome to our About us page! My name is Andres Rodriguez and I'm excited to share my contact information</p>

<p>Contact Information:</p>
<ul>
    <li>Email: rod16015@byui.edu</li>
    <li>Phone: +598 99 540 349</li>
</ul>

<p>Feel free to reach out to me if you have any questions or inquiries. Thank you for visiting our website!</p>
